
@font-face { 
	font-family: 'Alternate-Gothic';
	font-style: normal;
	font-weight: normal;
	src: url('Alternate-Gothic.woff'); 
}

.popup{
	background-image: url("popupbg.png");
	width: 160px;
	font-family: sans-serif;
	padding-top: 20px;
	padding-bottom: 28px;
	font-size: 20px;
	font-weight: normal;
}

.popup input {
	margin-left: -6px;
	margin-right: 16px;
}

.popup img {
	padding-bottom: 20px;
}
