
@font-face { 
	font-family: 'Alternate-Gothic';
	font-style: normal;
	font-weight: normal;
	src: url('Alternate-Gothic.woff'); 
}

.popup{
	background-image: url("popupbg.png");
	width: 160px;
	font-family: sans-serif;
	padding-top: 20px;
	padding-bottom: 28px;
	font-size: 20px;
	font-weight: normal;
  position: relative;
  z-index: auto;
}

.popup input {
	margin-left: -6px;
	margin-right: 16px;
}

.popup img {
	padding-bottom: 20px;
}
.fpo-info-bubble .scoretext{
  font-family: "Verdana";
  font-size: 11px;
  padding-top: 5px;
  
}

.score{
	font-size: 11px;
  padding-left: 5px;
  padding-right: 6px;
  float: right;
  background-color: white;
  width: 20px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  font-family: "Verdana";
}
.fpo-info-bubble {
  margin-top: 0px;
  position: fixed;
  width: 170px;
  height: 91px;
  padding: 0px;
  background: #ffffdd;
  border: #C20F2F solid 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 7px;
  z-index: 999;
  
}
/*.fpo-info-bubble:after{
  content: "";
  position: absolute;
  bottom: -16px;
  left: 73px;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #ffffdd transparent;
  display: block;
  width: 0;
  z-index: 1;
}*/

.fpo-info-bubble:before{

  content: "";
  position: absolute;
  top: 92px;
  left: 71px;
  border-style: solid;
  border-width: 17px 17px 0;
  border-color: #C20F2F transparent;
  display: block;
  width: 0;
  z-index: 0;
}

.fpo-info-bubble #helpfulness {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
}

.fpo-info-bubble #clarity {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
}

.fpo-info-bubble #average-grade {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
}

.fpo-info-bubble #easiness {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
}

.fpo-info-bubble #professor-name {
}
